{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}{% trans 'Forum' %} {{ forum.title }}{% endblock %}

{% block content %}
	<link rel="stylesheet" href="{% static 'mgof/css/mgof.css' %}" />
	<script type="text/javascript">
		$.ajaxSetup({
	  		data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
		});
	</script>
	<script type="text/javascript" src="{% static 'mgof/js/utils.js' %}"></script>
	<div class="row">
		<div class="col-xs-12">
		
			<div class="btn-group pull-right hidden-xxs" style="position:relative;top:2em;">
				<a class="btn btn-primary" href="{% url 'forum-topic-create' forum_pk=forum.pk %}">
					<i class="fa fa-pencil"></i>&nbsp;{% if not user.is_anonymous %}{%  trans 'Post topic' %}{% else %}{%  trans 'Login and post topic' %}{% endif %}
				</a>
				<a class="btn btn-default" href="{% url 'forums-index' %}">
					<i class="fa fa-level-up"></i>&nbsp;{%  trans 'Forums' %}
				</a>		
				{% if is_moderator %}
					<a class="btn btn-{% if num_items_in_queue > 0 %}warning{% else %}default{% endif %} hidden-xxs" href="{% url 'forum-moderation-queue' %}">
						<i class="fa fa-server"></i>&nbsp;{% if num_items_in_queue > 0 %}<div class="badge">{{ num_items_in_queue }}</div>{% endif %}
					</a>
				{% endif %}
			</div>
			<div class="gf text-center visible-xxs gds gus">
				<div class="btn-group">
					<a class="btn btn-default" href="{% url 'forums-index' %}">
						<i class="fa fa-level-up"></i>&nbsp;{%  trans 'Forums' %}
					</a>
					{% if is_moderator %}
						<a class="btn btn-{% if num_items_in_queue > 0 %}warning{% else %}default{% endif %}" href="{% url 'forum-moderation-queue' %}">
							<i class="fa fa-server"></i>&nbsp;{% if num_items_in_queue > 0 %}<div class="badge">{{ num_items_in_queue }}</div>{% endif %}
						</a>
					{% endif %}
				</div>
			</div>
			<div class="pull-right grs hidden-xs" style="position:relative;top:2em;">
				{% include "mgof/forum/paginate.html" %}
			</div>
			<h1 class="gds center-xxs"><i class="fa fa-comments-o"></i>&nbsp;{{ forum.title }}</h1>
			<a class="btn btn-primary btn-block visible-xxs" href="{% url 'forum-topic-create' forum_pk=forum.pk %}">
				<i class="fa fa-pencil"></i>&nbsp;{% if not user.is_anonymous %}{%  trans 'Post topic' %}{% else %}{%  trans 'Login and post topic' %}{% endif %}
			</a>
			<div class="visible-xs text-center gus">
				{% include "mgof/forum/paginate.html" %}
			</div>
			{% if topics %}
				<table class="table table-hover">
					<thead>
			  			<tr class="active">
			  				<th style="width:70%">{% trans "Topic" %}</th>
			  				<th style="width:8%" class="text-center">{% trans "Views" %}</th>
			  				<th style="width:8%" class="text-center">{% trans "Posts" %}</th>
			  				<th style="width:14%" class="text-center">{% trans "Last post" %}</th>
			  			</tr>
					</thead>
					<tbody>
						{% for topic in topics %}
							<tr>
								<td style="width:70%">
									{% if is_moderator == True %}
										{% if topic.is_moderated == False %}
											{% url "forum-topic-set_monitoring" topic_pk=topic.pk monitoring_level=1 as topic_url %}
											<span id="monitoring_{{ topic.pk }}" class="grs">
												<a class="monitoring-icon-off" title="{% trans 'Turn monitoring on' %}" href="javascript:fire_request('monitoring_{{ topic.pk }}','{{ topic_url }}')">
													<i class="fa fa-eye-slash"></i>
												</a>
											</span>	
										{% elif topic.is_moderated == True %}
											{% url "forum-topic-set_monitoring" topic_pk=topic.pk monitoring_level=0 as topic_url %}
											<span id="monitoring_{{ topic.pk }}" class="grs">
												<a class="monitoring-icon-on" title="{% trans 'Turn monitoring off' %}" href="javascript:fire_request('monitoring_{{ topic.pk }}','{{ topic_url }}')">
													<i class="fa fa-eye"></i>
												</a>
											</span>	
										{% endif %}
										{% if topic.is_closed == True %}
											<a href="javascript:fire_request('topic_{{ topic.pk }}', '{% url 'forum-topic-switch-open' topic_pk=topic.pk action=1 %}')">
										{% else %}
											<a href="javascript:fire_request('topic_{{ topic.pk }}', '{% url 'forum-topic-switch-open' topic_pk=topic.pk action=0 %}')">
										{% endif %}
									{% endif %}
									<span id="topic_{{ topic.pk }}" class="grs">
										<i class="fa fa-comment{% if topic.is_closed != True %}-o" title="{% trans 'Topic is open' %}" {% else %}" style="color:silver" title="{% trans 'Topic is closed' %}"{% endif %}></i>{% if is_moderator == True %}</a>{% endif %}&nbsp;<a href="{% url 'forum-topic-detail' topic_pk=topic.pk %}">{{ topic.title }}</a>
									</span>
								</td>
								<td style="width:8%;vertical-align:middle" class="text-center">{{ topic.num_views }}</td>
								<td style="width:8%;vertical-align:middle" class="text-center">{{ topic.num_posts }}</td>
								<td style="width:14%;vertical-align:middle" class="text-center">
									<small>{{ topic.last_post_date }} {% trans 'by' %} <strong>{{ topic.last_post_username }}</strong></small>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<div class="jumbotron text-center">
					<p>{% trans 'There is no topic in the forum yet' %}</p>
					<p class="gus">
						<a class="btn btn-primary btn-lg" href="{% url 'forum-topic-create' forum_pk=forum.pk %}">
							<i class="fa fa-pencil"></i>&nbsp;{%  trans 'Post topic' %}
						</a>
					</p>
				</div>
			{% endif %}
			<div class="btn-group pull-right hidden-xxs" style="position:relative;top:2em;">
				<a class="btn btn-primary" href="{% url 'forum-topic-create' forum_pk=forum.pk %}">
					<i class="fa fa-pencil"></i>&nbsp;{%  trans 'Post topic' %}
				</a>
				<a class="btn btn-default" href="{% url 'forums-index' %}">
					<i class="fa fa-level-up"></i>&nbsp;{%  trans 'Forums' %}
				</a>
			</div>
			<div class="pull-right grs hidden-xs" style="position:relative;top:2em;">
				{% include "mgof/forum/paginate.html" %}
			</div>
			<div class="visible-xs text-center">
				{% include "mgof/forum/paginate.html" %}
			</div>
			<div class="btn-group-vertical visible-xxs gus">
				<a class="btn btn-primary btn-block" href="{% url 'forum-topic-create' forum_pk=forum.pk %}">
					<i class="fa fa-pencil"></i>&nbsp;{%  trans 'Post topic' %}
				</a>
				<a class="btn btn-default btn-block" href="{% url 'forums-index' %}">
					<i class="fa fa-level-up"></i>&nbsp;{%  trans 'Forums' %}
				</a>
			</div>
		</div>
	</div>
{% endblock %}