{% extends "base.html" %}
{% load staticfiles i18n %}

{% block extra_header %}
	<link rel="stylesheet" href="{% static 'mgof/css/mgof.css' %}" />
{% endblock %}

{% block title %}{% trans 'Forum' %} {{ forum.title }}{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<div class="btn-group pull-right hidden-xxs" style="position:relative;top:2em;">
				{% if topic.is_closed != True %}
					<a class="btn btn-primary" href="{% url 'forum-post-create' forum_pk=forum.pk post_pk=0 topic_pk=topic.pk %}">
						<i class="fa fa-pencil"></i>&nbsp;{%  trans 'Post a response' %}
					</a>
				{% endif %}
				<a class="btn btn-default" href="{% url 'forum-detail' forum_pk=forum.pk %}">
					<i class="fa fa-level-up"></i>&nbsp;{{ forum.title|truncatewords:3 }}
				</a>
			</div>
			<a class="btn btn-default btn-block visible-xxs gds gus" href="{% url 'forum-detail' forum_pk=forum.pk %}">
				<i class="fa fa-level-up"></i>&nbsp;{{ forum.title|truncatewords:3 }}
			</a>
			<div class="pull-right grs hidden-xs" style="position:relative;top:1.9em;">
				{% include "mgof/topic/paginate.html" %}
			</div>
			<h3 style="margin:1.2em 0 1.4em 0"><i class="fa fa-comments-o"></i>&nbsp;{{ forum.title }}</h3>
			{% if topic.is_closed != True %}
				<a class="btn btn-primary btn-block visible-xxs gds" href="{% url 'forum-post-create' forum_pk=forum.pk post_pk=0 topic_pk=topic.pk %}">
					<i class="fa fa-pencil"></i>&nbsp;{%  trans 'Post a response' %}
				</a>
			{% endif %}
			<div class="visible-xs text-center">
				{% include "mgof/topic/paginate.html" %}
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading" style="font-size:120%">
					<i class="fa fa-comment-o"></i>&nbsp;{{ topic.title }}</h2>
				</div>
				{% for post in posts %}
					<div class="panel-body forum-post no-padding">
						<a name="{{ post.pk }}"></a>
						<div class="col-xs-12 col-sm-10 forum-post-text">
							<div class="gp-up-l gp-down-l">
								{% if comes_from_moderation and post.pk == post_to_moderate_pk %}
									{% trans 'This post will be deleted. Are you sure?' as question %}
									<script type="text/javascript">
										{% include "mgof/post/moderation_confirm.html" %}
									</script>
									<div id="post_to_moderate_title" class="text-warning gbf gds">
										<i class="fa fa-server fa-lg"></i>&nbsp;{% trans 'Post to moderate' %}
									</div>
								{% endif %}
								{{ post.content|safe }}
							</div>
							{% if comes_from_moderation and post.pk == post_to_moderate_pk %}
								<div id="post_to_moderate_content" class="alert alert-warning">
									{% include "mgof/post/moderate_actionbar.html" %}
								</div>
							{% else %}
								<a class="text-grey" href="{{ request.path }}#{{ post.pk }}">
									<i class="fa fa-anchor"></i>
								</a>
								{% if topic.is_closed != True %}
									<a class="btn btn-default pull-right btn-sm hidden-xs gus-md" style="position:relative;bottom:1.5em" href="{% if forloop.last %}{% url 'forum-post-create' forum_pk=forum.pk post_pk=0 topic_pk=topic.pk %}{% else %}{% url 'forum-post-create' forum_pk=forum.pk post_pk=post.pk topic_pk=topic.pk %}{% endif %}">
										<i class="fa fa-pencil text-primary"></i>&nbsp;{%  trans 'Post a response' %}
									</a>
								{% endif %}
								{% if topic.is_closed != True %}
									<a class="btn btn-default text-center visible-xs btn-sm gus" href="{% if forloop.last %}{% url 'forum-post-create' forum_pk=forum.pk post_pk=0 topic_pk=topic.pk %}{% else %}{% url 'forum-post-create' forum_pk=forum.pk post_pk=post.pk topic_pk=topic.pk %}{% endif %}">
										<i class="fa fa-pencil text-primary"></i>&nbsp;{%  trans 'Post a response' %}
									</a>
								{% endif %}
							{% endif %}
						</div>
						<div class="col-xs-12 col-sm-2">
							<div class="gp">
								<div><small>{% trans "Posted by" %} <strong>{{ post.editor.username }}</strong></small></div>
								<div><small>{{ post.edited }}</small></div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="hidden-xxs gds-xl"></div>
			<div class="btn-group pull-right hidden-xxs" style="position:relative;top:-1em;">
				{% if topic.is_closed != True %}
					<a class="btn btn-primary" href="{% url 'forum-post-create' forum_pk=forum.pk post_pk=0 topic_pk=topic.pk %}">
						<i class="fa fa-pencil"></i>&nbsp;{%  trans 'Post a response' %}
					</a>
				{% endif %}
				<a class="btn btn-default" href="{% url 'forum-detail' forum_pk=forum.pk %}">
					<i class="fa fa-level-up"></i>&nbsp;{{ forum.title|truncatewords:3 }}
				</a>
			</div>
			<div class="pull-right grs hidden-xs" style="position:relative;top:-2em;">
				{% include "mgof/topic/paginate.html" %}
			</div>
			{% if topic.is_closed == True %}
				<div class="label label-info text-center gbf hidden-xxs gds" style="position:relative:top:-1em">{% trans 'This topic is closed' %}</div>
				<div class="label label-info text-center gbf visible-xxs gf gds">{% trans 'This topic is closed' %}</div>
			{% endif %}
			<div class="visible-xs text-center">
				{% include "mgof/topic/paginate.html" %}
			</div>
			<a class="btn btn-default btn-block visible-xxs gds " href="{% url 'forum-detail' forum_pk=forum.pk %}">
				<i class="fa fa-level-up"></i>&nbsp;{{ forum.title|truncatewords:3 }}
			</a>
			{% if topic.is_closed != True %}
				<a class="btn btn-primary btn-block visible-xxs gds" href="{% url 'forum-post-create' forum_pk=forum.pk post_pk=0 topic_pk=topic.pk %}">
					<i class="fa fa-pencil"></i>&nbsp;{%  trans 'Post a response' %}
				</a>
			{% endif %}
		</div>
	</div>
{% endblock %}